body {
  font-family: "Montserrat";
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: black;
  size: 3rem;
  line-height: 1.5;
  padding: 1.4% 25% 0;
}

h3 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.5rem;
}

em {
  color: white;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/* Navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 5%;
}

.nav-link {
  font-size: 1.3rem;
  font-family: "Montserrat-light";
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

/* Title */

/* Download button */
.download-button {
  margin: 5%;
}

#title {
  background-color: #ff4c68;
}

.title-image {
  height: 90%;
  position: absolute;
  top: 20%;
  left: 59%;
  transform: rotate(25deg);
}

/* Feature */
#features {
  background-color: white;
  z-index: 1;
  position: relative;
}

.container {
  background-color: white;
}

.feature-col {
  text-align: center;
  padding: 7%;
}

.feature-p {
  color: #8f8f8f;
}

.fa-solid {
  margin: 1.2rem;
  color: #ef8172;
}

.fa-solid:hover {
  color: #ff4c68;
}

/* Testimonial Section */

.test-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: white;
  size: 3rem;
  line-height: 1.5;
  padding: 1.4% 25% 0;
}

#testimonials {
  background-color: #ef8172;
  text-align: center;
}

.testimonial-img {
  border-radius: 100%;
  width: 15%;
  padding: 3%;
  /* padding-bottom: 3%; */
}

#press {
  background-color: #ef8172;
  text-align: center;
}

.press-logo {
  padding-bottom: 3%;
  width: 13%;
  margin: 6% 2% 0;
}

/* Pricing */

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-col {
  padding: 3% 2%;
}
